@import "stylesBanner.css";

*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    list-style:none;
}
body{
     width: 390px;
}

:root{
    --azul-padrao: #202C84;
    --branco: #FFFFFF;
    --rosa: #D51482;
}

header{
    background: var(--branco);
    padding: 0px 0px 0.6rem 0px;
}
.doc-main{
    width: 390px;
    margin: 0 auto;
}
.container-flex-main{
    display: flex;
    flex-direction: column;
 }
.container-menu{
          justify-content: end;
          display: flex;
          flex-direction: column;
          margin: 0;
}
.menu{ 
     margin-bottom: -15px;
 }
 ul{
     margin-top: 0.5rem;
 }
 ul > li{
     text-align: center;
     background: black;
     color: var(--branco);
     padding: 0.6rem 137px;
     border-bottom: 1px solid white;
     display: block;
 }
 ul > li >a{
     display: block;
     color: var(--branco);
     text-decoration: none;
 }
 #itens{
     display: none;
     position:absolute;
     top: 49px;
 }
.logo{
    text-align: center;
    background: var(--azul-padrao);
    color: var(--branco);
    border-radius: 5px;
    padding: 0.2rem;
    height: 90px;
    width: 100px;
}
h2.logo__marca{
    font-weight: 100px;
}
.logo__car{
    margin-top: 10px;
}
h2.title__banner,h3{
    font-weight: 200;
}

h2{
    padding: 10px 0px 0px 0px;
}
h3{
    padding: 10px 0px 12px 0px;
}

.mini-banner{
    padding: 0.5rem 2.1rem;
    border-radius: 5px;
    text-align: center;
    background: var(--azul-padrao);
    color: var(--branco);
}

.container-flex-col{
    display: flex;
    margin: 0.5rem 0rem;
    justify-content:space-between;
    align-items: center;
}
