@import "stylesBanner.css";

*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    list-style:none;
}
body{
     width: 390px;
     background:#ADD8E6;
}

:root{
    --azul-padrao: #202C84;
    --branco: #FFFFFF;
    --rosa: #D51482;
}

header{
    background: var(--branco);
    padding: 0px 0px 0.6rem 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.doc-main{
    width: 390px;
    margin: 2px auto;
}
.container-flex-main{
    display: flex;
    flex-direction: column;
 }

/***MENU - container***/
.container-menu{
          justify-content: end;
          display: flex;
          flex-direction: column;
          margin: 0;
}
/* MENU */
 .navbar-horizontal{
    display: none;
 }
 #itens{
     display: none;
     position:absolute;
     top: 48px;
 }
 ul.navbar{
    background: black;
 }
 ul.navbar li{
    border-bottom: 1px solid white;
    text-align: center;
    width: 390px;
 }
 ul.navbar li a.link-item{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.7rem;
 }
 
 
 /***Logo**/
  
.container__flex-logo-menu{
       display: flex; 
       justify-content: space-between;
}

.logo{
    color: var(--branco);
    border-radius: 5px;
}

.mini-banner{
    color: var(--branco);
    border-radius: 5px;
}

.logomarca-car,
.logomarca-los,
.nome,
.developed{
    font-size: 28px;
    font-family: 'roboto', sans-serif;
    text-align: center;
    color:  var(--branco);
    background:var(--azul-padrao);
}

.logomarca-car,
.nome{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.logomarca-los,
.developed{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 1rem;
}
.logomarca-car{
    margin-left: 0.4rem;
    padding-top: 1rem;
}
.logomarca-los{ 
    margin-left:.4rem;
    padding: 0rem 1.4rem 1rem 1.4rem;
}
.nome{
    margin: 0px .4rem 0px 0px;
    padding: 1rem .2rem 0rem .2rem;
 }
.developed{
    margin: 0px .4rem 0px 0rem;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    padding: .8rem 4.4rem;
}

@media screen and (min-width: 769px){
    body{
        background: #33ddaa90;
    }
    .doc-main{
        width: 790px;
        margin: 0 auto;
    }
    header{
        background: var(--branco);
        margin-top: 1rem;
        padding-top: 0.4rem;
        display: flex;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .menu{
        display: none;
    }
    .navbar-horizontal{
        display: flex;
        margin-right: .4rem;
    }
    .link-item{
        padding: 1rem .6rem;
    }
    a{
        text-decoration: none;
    }
    .developed{
        padding: 1rem;
        border-radius: 5px;
    }
}
