@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: aliceblue;
}
.container-all{
    background-image: url(images/fundo.png);
    display: flex;
    width: 380px;
    margin: 0 auto;
    padding: .5rem;
    flex-direction: column;
}
.box-a, .box-b, .box-c, .box-d, .box-e{
    display: flex;
    align-items: center;
    background: rgb(238, 178, 178);
    min-width: 120px;
    flex: 1;
    margin: .2rem;
    padding: .3rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.legend-poltrona{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.icon-poltrona{
    width: 33px;
}
.box-a:hover, .box-b:hover, .box-c:hover, .box-d:hover, .box-e:hover{
    background-color: #8666C6;
    color: white;
}  
.container-coll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-imagem-main img{
    width: 100%;
    margin-top: 1rem;
    height: auto;
    border-radius: .5rem;
}
.title-show{
    padding: 1rem 2rem;
    text-align: center;
    flex-grow: 1;
    color: #8666C6;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
